footer {
    position:relative;
    width:100%;
    bottom:0px; 
        }
body {
    /*background: url(/static/img/mintfabric.jpg); */
    position: relative;                      
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.layer {
    border-radius: 9%;
    background-color: rgba(239, 225, 151, 0.2);   
}
tr, td {
    width:40px;
    height:40px;
    border:3px;
    border-style: ridge;
    border-color: 660066;
    text-align: center;
}
th {
    width:40px;
    height:40px;
    color: 660066;
    text-align: center;
}
.oldentry {
    border:5px;
    border-style: ridge;
    border-color: 660066;
    text-align: center;
    background-color: rgba(66, 244, 232, .5);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1, h2, h3 {
    color: 660066;
    font-family: 'Merienda', cursive;
}

.entry {
    font-size: 18pt;
    font-family: 'Dancing Script', cursive;
}
.backimg {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
li {
    text-align: left;
}  
.stocklayer{
    background-color: rgba(144, 71, 193, 0.7); 
}
b{
    color:#660066;
}
.title {
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 70px;
}
input[type=text], input[type=textarea] {
    background: transparent; 
    border: none; 
    border-bottom: 2px solid #660066;
}
/*::placeholder {
    color: white;
    opacity: 3;
}*/













#flash > .warning {
    background-color: #42f4d9;
    color: #660066;
    font-family: 'Merienda', cursive;
    border-color: #fbeed5;
}

#flash > .ok {
    background-color: #42f4d9;
    color: #660066;
    font-family: 'Merienda', cursive;
    border-color: #d6e9c6;
}

#flash > .error {
    background-color: #42f4d9;
    color: #660066;
    font-family: 'Merienda', cursive;
    border-color: #eed3d7;
}

#flash > .info {
    background-color: #42f4d9;
    color: #660066;
    font-family: 'Merienda', cursive;
    border-color: #bce8f1;
}
