{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block body %}
<img class="backimg" src="static/img/bookcase.jpg" border="0" style="opacity: .7;">
<div class="center">
    <br><br><br>
    <h1 class="title">About</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h4>This is a site so that you can save your ideas and thoughts all in the same place that you can check up on whats going on in the world. You can look at the weather, search through news, and check up on how your stocks are doing.</h4> <br><br><br><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}