{% extends "base.html" %}

{% block title %} 
Dashboard
{% endblock %}

{% block body %}
<img class="backimg" src="static/img/heartbook.jpg" border="0" style="opacity: .7;">
<div class="center">
    <br>
    <h1 class="title">{{user.name}}'s Dashboard</h1>
</div>
<br>

<!-- Calendar -->
<div class="container center">
    <div class="row">
        <div class="col-3">
            <!-- Quote -->
                <div style="font-family: 'Merienda', cursive;color:#660066">
                    <h4>Daily Quote</h4>
                    <p>{{ quote }}</p>
                </div>
        </div>

        <div class="col-6">
            <img src="static/img/journal.jpg" style="border-radius: 9%;">
        </div>
        
        <div class="col-3">
            <!-- Todo List -->
            <div class="center layer">
                <h2>To-Do List</h2>
                <ul id ="todoList">
                {% for todo in todo_list %}
                    <li id ="{{todo.todo}}">{{ todo.todo }} </li>
                {% endfor %}
                </ul>
                <form id="todoForm">
                    <i class="fas fa-tasks"></i>
                    <input type="text" id="todo" placeholder="I have to..."><br>
                    <input type="submit" id = "update" value="Update" class="btn btn-dark" style="background-color: #330033;">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container center">
    <div class="row">
        <div class="col-3">
            <!-- Weather -->
                <div class="center" style="color: #660066;font-family: 'Merienda', cursive;">
                    <h4>Weather</h4>
                    <h5>{{ weathers["main"] }}</h5>
                    <img src="{{ img_src }}" id="weather-icon">
                    <p><b>Tempurature:</b><br>
                    Current: {{ weathers["temp"] }}F<br>
                    High: {{ weathers["temp_min"] }}F<br>
                    Low: {{ weathers["temp_max"] }}F</p>
                </div>
        </div>

        <div class="col-6 center">
            <!-- Entry -->
            <br>
            <div class="layer">
                <h3><div id="finishedTitle"></div></h3>
                <div id="finishedText" class="entry"></div>
                <div id= "entry-div">
                    <h2>Write your memoir: <i class="far fa-edit"></i></h2>
                    <form method="POST" id= "entry-form">
                        <input type="text" class="form-control" id="title" placeholder="Memoir title"><br>
                        <textarea class="form-control" id="text" rows="5" cols="40" style="background: transparent;border: none;border-bottom: 2px solid #660066" placeholder="My day is going..."></textarea><br>
                        <input type="submit" id = "publish" value="Publish" class="btn btn-dark" style="background-color: #330033;">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <!-- Calendar -->
            <div id="calendar" >{{ calendar | safe}}</div>
            <br>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="center"><h2><i class="fas fa-book-open"></i> / <i class="fas fa-calendar-alt"></i></h2>
                <canvas id="barChart"></canvas>

        </div>
    </div>
        <div class="col-6">
            
                <!-- Stocks -->
            <h2>Stocks <i class="fas fa-file-invoice"></i></h2>
            <form action="/search-stocks" id="stocksform">
                <input type="text" id="symbol" placeholder="Search Stock's Symbol" required ><br>
                <input type="radio" name="time" value="1d" required >1 Day 
                <input type="radio" name="time" value="1m">1 Month 
                <input type="radio" name="time" value="3m">3 Month 
                <input type="radio" name="time" value="1y">1 Year <br>
                <input type="submit" id="stocksubmit" value="Stocks" class="btn btn-dark" style="background-color: #330033">
            </form>
            <div>
                <span id="stockssymbol"></span>
                <span id="stockscompany"></span>
                <span id="stocksdescription"></span>
                <span id="stocksexchange"></span>
                <span id="stockswebsite"></span>
                <canvas id="stockschart"></canvas>
            </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- News -->
            <h2>News <i class="far fa-newspaper"></i></h2>
            <form action="/search-keyword"><input type="text" id="keyword" placeholder="Search Keyword"><br><input type="submit" id="searchkey" value="News" class="btn btn-dark" style="background-color: #330033">
            </form>
            <p id="news"></p>
        </div>
    </div>
</div>
</div>



<script>
///////////////////////// Entry Bar Chart //////////////////////////////
const options = {
    responsive: true,
    scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true
            }}]}
};
let ctx_bar = $("#barChart").get(0).getContext("2d");
$.get("/entry-data.json", function (data) {
            let myBarChart = new Chart(ctx_bar, {
                            type: 'horizontalBar',
                            data: data,
                            options: options
                            });
});
////////////////////// Stocks Chart and Info ////////////////////////////
function print_stocks(results) {
    $('#stockssymbol').append("<b>Symbol: </b>",results['info']['Symbol'],"<br>");
    $('#stockscompany').append("<b>Company: </b>",results['info']['Company'],"<br>");
    $('#stocksdescription').append("<b>Description: </b>",results['info']['Description'],"<br>");
    $('#stocksexchange').append("<b>Exchange: </b>",results['info']['Exchange'],"<br>");
    $('#stockswebsite').append("<b>Website: </b>",results['info']['Website'],"<br>");
    let ctx_line = $("#stockschart").get(0).getContext("2d");

    let myLineChart = new Chart(ctx_line, {
                                    type: 'line',
                                    data: results,
                                    options: options
                                });
};
function search_stocks(evt) {
    evt.preventDefault();
    let stocksSearch = {'time' : $('input[name=time]:checked', '#stocksform').val(), 'symbol' : $('#symbol').val()};
    $.post('/search-stocks', stocksSearch, print_stocks);
};
$("#stocksubmit").on('click', search_stocks);
////////////////////// Posting and Saving Journal Entry ////////////////////////////
let publish = $('#publish'); //submit button id
let enrtyDiv = $('#entry-div'); //div with form id
function changeDiv(results) {
    $('#finishedTitle').append(results['title']);
    $('#finishedText').html(results['text']);
    $('#entry-div').hide();
};
function updateDiv(evt) {
    evt.preventDefault();
    let entryInput = {
        "title" : $('#title').val(),
        "text" : $('#text').val(),
        "weather" : "{{ weathers['main'] }}",
        "quote" : "{{ quote }}",
    };  
    $.post("/post-entry", entryInput ,changeDiv);
};
publish.on('click', updateDiv);
///////////////////////// To Do List /////////////////////////////////
let todoList = $('#todoList'); //ul id
let update = $('#update'); //submit id
function appendTodo(results) {
    $('#todoList').append('<li>'+results+'</li>');
};
function updateTodo(evt) {
    evt.preventDefault();
    let todoInput = {
        "todo" : $('#todo').val(),
    };
    $.post("/update-todo", todoInput ,appendTodo);
    document.forms["todoForm"].reset();
};
update.on('click', updateTodo);
//////////////////// Event Listener on To Do List /////////////////////////
$("#todoList").on("click", function(e) {
    if(e.target && e.target.nodeName == "LI") {
        console.log("List item ", e.target.id.replace("post-", ""), " was clicked!");
        e.target.remove();
        let todoItemdict = { "todoItem" : e.target.id};
        $.post("/delete-todo", todoItemdict, console.log("working"));}
    });
////////////////////// News Search and Post ///////////////////////////////
function changeNewsKey(results) {
    for ( let obj of results.articles) {
        $('#news').append('<b>'+obj.title+'</b><br>');
        $('#news').append('<img src="'+obj.urlToImage+'" style="height: 300; width:500;"><br>');
        $('#news').append(obj.description,'<br>');
        $('#news').append('<a href="'+obj.url+'">Read more...</a><br>');
        $('#news').append('<br><br>')
    };       
};
function updateNewsKey(evt) {
    evt.preventDefault();
    let searchKey = { 'keyword' : $('#keyword').val()};
    $.get("/search-keyword", searchKey, changeNewsKey);
};
$('#searchkey').on('click', updateNewsKey);
//////////////////////////////////////////////////////
</script>

{% endblock %}