{% extends "base.html" %}

{% block title %}
Old Entries
{% endblock %}

{% block body %}
    <div>
        <br>
        <h1 class="center title">{{user.name}}'s Memoirs</h1>
    </div>
    <div>
        <img class="backimg" src="static/img/book-stack.jpg" border="0" alt="">
        {% for entry in entries %}
        <div class="oldentry entry" style="width:50%">
            <br>
            <p><b>Date:</b>{{ entry.date }}<br>
            <b>Title: </b> {{ entry.title }}<br>
            <b>Entry: </b> {{ entry.text }}<br>
            <b>Quote: </b> {{ entry.quote }}<br>
            <b>Weather: </b> {{ entry.weather }}</p>
            <br>
        </div>
        {% endfor %}
    </div>
{% endblock %}