{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4">
        <div class="center">
            <br>
            <br>
            <h1 class="title"> Register New User </h1>
            <br>
            <form action='/check-register' method = 'POST'>
            Email: <input type="text" name="email" required><br>
            Password: <input type="text" name="password" required><br>
            Zipcode: <input type="text" name="zipcode" required><br>
            <input type="submit" value="Make User" class="btn btn-dark" style="background-color: #330033;">
            </form>
        </div>
    </div>
    <div class="col-8">
        
        <img src="static/img/Journalpen.jpg" style="width:875px;height:550px;">
    </div>
</div>
{% endblock %}